@font-face {
   font-family: 'fontello';
   src: url('../fonts/fontello.eot?50080235');
   src: url('../fonts/fontello.eot?50080235#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff2?50080235') format('woff2'),
        url('../fonts/fontello.woff?50080235') format('woff'),
        url('../fonts/fontello.ttf?50080235') format('truetype'),
        url('../fonts/fontello.svg?50080235#fontello') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
[class^="ficon-"]:before, [class*=" ficon-"]:before {
   font-family: "fontello";
   font-style: normal;
   font-weight: normal;
   speak: none;
 
   /* For safety - reset parent styles, that can break glyph codes*/
   font-variant: normal;
   text-transform: none;
 
   /* Font smoothing. That was taken from TWBS */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
 
.ficon-edit:before { content: '\e800'; } /* '' */
.ficon-list-alt:before { content: '\e801'; } /* '' */
.ficon-cancel:before { content: '\e802'; } /* '' */
.ficon-plus:before { content: '\e803'; } /* '' */
.ficon-ok-circled2:before { content: '\e804'; } /* '' */
.ficon-cancel-circled2:before { content: '\e805'; } /* '' */
.ficon-down-dir:before { content: '\e806'; } /* '' */
.ficon-home:before { content: '\e807'; } /* '' */
.ficon-right-dir:before { content: '\e808'; } /* '' */
.ficon-download:before { content: '\e809'; } /* '' */
.ficon-users:before { content: '\e80a'; } /* '' */
.ficon-water:before { content: '\e80b'; } /* '' */
.ficon-clock:before { content: '\e80c'; } /* '' */
.ficon-back-in-time:before { content: '\e80d'; } /* '' */
.ficon-angle-double-left:before { content: '\f100'; } /* '' */
.ficon-angle-double-right:before { content: '\f101'; } /* '' */
.ficon-angle-left:before { content: '\f104'; } /* '' */
.ficon-angle-right:before { content: '\f105'; } /* '' */
.ficon-file-pdf:before { content: '\f1c1'; } /* '' */
.ficon-user-circle-o:before { content: '\f2be'; } /* '' */